* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

h2 {
    color: #525558;
    font-weight: 700;
}

.pokedex {
    width: 500px;
    height: 600px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    display: flex;
    flex-direction: column;
}
/*--------Leds indicadores------*/
.contenedor {
    width: 350px;
    height: 120px;
    border-color: black;
    border-style: solid;
    border-bottom-style: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fe0065;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 15px 0px 0px 10px;
}

.azul {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    background-color: #faf7f7;
    margin: 0px 30px 0px 0px;
}

.azul2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    background-color: #3298cb;
    margin: 5px;
}

.azul3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #85bdfe;
    margin: 14px;
}

.rojo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    background-color: #ff0000;
}

.rojo2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    background-color: #fe98cb;
}

.amarillo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    background-color: #fdcb65;
}

.amarillo2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    background-color: #fffdc7;
}

.verde {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    background-color: #32cb64;
}

.verde2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    background-color: #93fc05;    
}

/*---------pantalla de la pokedex---------*/
.contenedor2 {
    width: 360px;
    height: 230px;
    border-color: black;
    border-style: solid;
    border-top-style: none;
    border-bottom-style: none;
    background-color: #fe0065;
}

.pantalla {
    width: 220px;
    height: 220px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-bottom-left-radius: 40px;
    margin: 0px 0px 0px 60px;
    background-color: #ffffff;
}

.pantalla2 {
    width: 170px;
    height: 170px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin: 15px 0px 0px 22px;
    background-color: darkseagreen;
}

#pokeball {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    filter: brightness(2);
    filter: contrast(1.5);
}

.led_pantalla1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    border-width: 3px;
    background-color: red;
    margin: 3px 0px 0px 30px;
}

.led_pantalla2 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 4px;
    background-color: #fe98cb;
}

/*---------botones de la pokedex---------*/
.contenedor3 {
    width: 360px;
    height: 150px;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    border-top-style: none;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #000000;
    border-style: solid;
    background-color: #585858;
    margin: 20px 0px 0px 20px;
}

.btn_l1 {
    width: 65px;
    height: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    background-color: #fe0065;
    margin: 10px 0px 0px 20px;
}

.btn_l2 {
    width: 65px;
    height: 5px;
    border-color: black;
    border-style: solid;    
    border-radius: 5px;
    background-color: #04d8d8;
    margin: 10px 0px 0px 10px;
}

.cruz1 {
    width: 20px;
    height: 70px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    background-color: #585858;
    margin-top: 20px;
    transform: translateX(35px);
}

.cruz2 {

}

.circle_c {

}


/*
.rayas_pantalla span{
    width: 100%;
    height: 2px;
    background-color: #010001;
    margin-top: 6px;
}

/*
.pokedex {
    margin: 0;
}

.pokeball{
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    filter: brightness(2.1);
    mix-blend-mode: multiply;
}

.pokemon{
    margin-top: -19%;
    padding: 5px;
    display: flex;
    justify-content: left;
    border: 2px solid black;
}
*/


