* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

h2 {
    color: #525558;
    font-weight: 700;
}

/*--------Leds indicadores------*/
.contenedor {
    width: 350px;
    height: 110px;
    border-color: black;
    border-style: solid;
    border-bottom-style: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fe0065;
    display: flex;
    flex-direction: row;
    padding: 15px 0px 0px 10px;
}

.azul {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    background-color: #faf7f7;
    margin: 0px 30px 0px 0px;
}

.azul2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    background-color: #3298cb;
    margin: 6px;
}

.azul3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #85bdfe;
    margin: 14px;
}

.rojo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    background-color: #ff0000;
}

.rojo2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    margin: 4px;
    background-color: gray;
}

.amarillo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    background-color: #fdcb65;
    margin: 0px 5px 0px 5px;
}

.amarillo2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    margin: 4px;
    background-color: gray;
}

.verde {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    background-color: #32cb64;
}

.verde2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    margin: 4px;
    background-color: gray;    
}

/*---------pantalla de la pokedex---------*/
.contenedor2 {
    width: 360px;
    height: 300px;
    border-color: black;
    border-style: solid;
    border-top-style: none;
    border-bottom-left-radius: 20px;
    background-color: #fe0065;
}

.pantalla {
    width: 220px;
    height: 220px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-bottom-left-radius: 40px;
    margin: 0px 0px 0px 60px;
    background-color: #ffffff;
}

.pantalla2 {
    width: 170px;
    height: 170px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin: 15px 0px 0px 22px;
    background-color: darkseagreen;
}

.led_pantalla1 {

}

.led_pantalla2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: #010001;
    border-style: solid;
    border-width: 3px;
    background-color: red;
    margin: 3px 0px 0px 30px;
}

/*
.pokedex {
    margin: 0;
}

.pokeball{
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    filter: brightness(2.1);
    mix-blend-mode: multiply;
}

.pokemon{
    margin-top: -19%;
    padding: 5px;
    display: flex;
    justify-content: left;
    border: 2px solid black;
}
*/


